.dashboardContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #121212;
  background: linear-gradient(135deg, #171542 0%, #2f339e 100%);
  color: #f4f4f4;
}

.dashboardBody {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.sidebar {
  width: 12%;
  background: #1e1e1e;
  border-right: 2px solid #2a2a2a;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: sticky;
  top: 0;
  height: calc(100.5x²x²vh - 80px);
  border-radius: 0px 0px 30px 0px;
}

.mainContent {
  flex: 1;
  padding: 40px;
  overflow-y: auto;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 24px;
}

@media (max-width: 900px) {
  .dashboardBody {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    border-right: none;
    border-bottom: 2px solid #2a2a2a;
    height: auto;
  }

  .mainContent {
    padding: 20px;
  }
}
