.header {
  padding: 1rem 2rem 1em 0em;
  flex-direction: column;
  width: 100%;
  margin-top: 70px;
  position: relative;
  z-index: 2;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.navLeft {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.ulElem {
  margin-top: 40px;
}

.sectionTitle {
  margin-top: 30px;
  font-size: 1rem;
  color: #c0c0c0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.navLinks {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 15px 0;
  gap: 1rem;
}

.navLinks li {
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: transform 0.2s ease, color 0.2s ease;
}

.navLinks li:hover {
  transform: translateX(3px);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0c214d;
  border-radius: 12px;
  padding: 8px;
  color: white;
}

.navLinks a {
  color: #d1d5db;
  text-decoration: none;
  font-size: 0.95rem;
  transition: color 0.2s ease-in-out;
}

.navLinks a:hover {
  color: white;
}

.docSection {
  border-radius: 20px;
  padding: 25px;
  margin-top: 40px;
  background: none;
}

.docSection h2 {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
}

.helpIcon {
  color: #0c214d;
}

.docSection p {
  margin: 5px 0 10px 0;
  color: #bdbdbd;
}

.docSection a {
  display: inline-block;
  padding: 8px 14px;
  border-radius: 10px;
  background-color: #0000006e;
  color: white;
  font-weight: 500;
  text-decoration: none;
}

.docSection a:hover {
  background-color: #00000090;
}

@media (min-width: 768px) {
  .navLinks {
    display: flex;
  }
}
