/* Header.css */

.header {
    padding: 1rem 2rem;
    flex-direction: column;
    width: 100%;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navicons {
    width: 30px;
    height: 30px;
    border-radius: 15px 15px;
    padding: 10px;
    background-color:#0c214d; 
  }
  
  .nav-left {
    align-items: center;
    gap: 2.5rem;
  }
  
  .logo {
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: -20px;
    color: white;
    text-decoration: none;
  }

  .ul_elem{
    margin-top: 60px;
  }
  
  .nav-links {
    display: none;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: left;
    gap: 2rem;
  }
  
  .nav-links li {
    justify-content: center;
    align-items: center;
  }

  .nav-links a {
    margin-left: 30px;
    color: #D1D5DB;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
  }
  
  .nav-links a:hover {
    color: white;
  }
  
  .nav-right {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .nav-right a {
     text-decoration: none;
  }
  
  .signin-btn {
    color: #D1D5DB;
    transition: color 0.2s ease-in-out;
  }
  
  .signin-btn:hover {
    color: white;
  }
  
  .signup-btn {
    background-color: #2563EB;
    color: white;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: background-color 0.2s ease-in-out;
  }
  
  .signup-btn:hover {
    background-color: #1D4ED8;
  }

  .doc-section {
    background-color: #1D4ED8;
    border-radius: 20px 20px;
    padding: 10px;
    margin-top: 20px;
  }
  
  @media (min-width: 768px) {
    .nav-links {
      display: flex;
    }
  }
