.hero-section {
  position: sticky;
  top: 200px;
  width: 100%;
  margin: auto;
  max-width: 98%;
  overflow: visible;
  z-index: 1000;
  transition: height 0.3s ease, border-radius 0.3s ease, padding 0.3s ease;
}

.hero-main {
  display: grid;
  align-items: center;
  gap: 4rem;
  position: relative;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.scrolled {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 0;
  border-radius: 0 0 20px 20px;
  padding: 1rem 2rem;
  z-index: 1000;
}

.hero-arrow {
  position: absolute;
  right: -40rem;
  bottom: 0;
  transform: translateY(40%);
  pointer-events: none;
}

.hero-arrow img {
  width: 40%;
  height: auto;
  animation: pulse 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}


  .hero-content {
    text-align: center;
    margin-left: 150px;
  }
  
  .hero-title {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.1;
    color: #FFF;
  }
  
  .hero-subtitle {
    margin-top: 1.5rem;
    font-size: 1.125rem;
    color: #9CA3AF;
  }
  
  .hero-button {
    margin-top: 2rem;
    margin-left: 220px; 
    background-color: #2563EB;
    color: white;
    font-weight: 600;
    font-size: 1.125rem;
    padding: 0.75rem 2rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }

  
  .hero-button:hover {
    background-color: #1D4ED8;
  }
  
  .hero-image-container {
    display: none;
    justify-content: center;
  }

  img{
    display: absolute;
    width: 80%;
  }
  
  .pulse-animation {
    animation: pulse 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }
  
  @keyframes pulse {
    50% {
      opacity: 0.7;
    }
  }
  
  
  @media (min-width: 768px) {
    .hero-main {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .hero-content {
      text-align: left;
    }
    .hero-content {
      margin-left: 0px;
    }
    
    .hero-title {
      font-size: 3.75rem;
    }
    .hero-image-container {
      display: flex;
      justify-content: center;
    }
  }