body {
  margin: 0;
  background-color: #02061a;
  color: white;
  font-family: ui-sans-serif, system-ui, sans-serif;
  overflow-x: hidden;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
}

.videoBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  opacity: 0.4;
}

.mainContent {
  position: relative;
  z-index: 1;
}

.containerText {
  position: absolute;
  top: -750%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.containerText h1 {
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 0.2rem;
  color: white;
  text-transform: uppercase;
  text-shadow: 0 0 30px rgba(0, 150, 255, 0.6);
  top: 8px;
}

.container {
  margin-top: 50%;
}
