@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@699;700&display=swap");

:root {
  --lower: 100;
  --upper: 700;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrapper h1 {
  font-family: "Roboto Mono", monospace;
  font-size: clamp(5rem, 10vw, 8rem);
  text-align: center;
  position: absolute;
  top: 200%;
  left: 50%;
  white-space: nowrap;
  transform: translate(-50%, -50%)
    translate(calc(var(--x, 0) * 0.3%), calc(var(--y, 0) * 0.3%));
  font-variation-settings: "wght" var(--lower);
  margin: 0;
}

.wrapper h1 span {
  color: hsla(260, 100%, 90%, var(--alpha-l));
  animation: rise 2.5s infinite ease-in-out;
  animation-delay: calc((var(--index) - 6) * 0.225s);
  display: inline-block;
}

@keyframes rise {
  50% {
    font-variation-settings: "wght" var(--upper);
    color: hsla(240, 100%, 100%, var(--alpha-u));
    transform: translate(0, -15%);
  }
}

.wrapper {
  backdrop-filter: blur(8px);
  transform: translate(-50%, -50%) scale(2);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 12px;
  padding: 1rem 2rem;
}
