.container {
  padding: 0px 20px;
  color: #fff;
  position: relative;
  z-index: 2;   
}

.title {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
}

.workflowList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(100% / 3 - 20px), 1fr));
  gap: 20px;
  width: 100%;
}

.noWorkflows {
  text-align: center;
  margin-top: 40px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
}

.loading, .error {
  text-align: center;
  margin-top: 40px;
  font-size: 16px;
}
