.profileCard {
    padding: 2rem;
    border-radius: 1.5rem;
    text-align: center;
    color: #fff;
    width: 350px;
    margin: 0 auto;

    position: relative;
    z-index: 2;

  background-color: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  }
  
  .title {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
  
  .infoGroup {
    text-align: left;
    margin-bottom: 2rem;
  }
  
  .actions {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
  }
  
  .editBtn,
  .deleteBtn {
    padding: 0.6rem 1.2rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s;
  }
  
  .editBtn {
    background-color: #00ff88;
    color: #000;
  }
  
  .editBtn:hover {
    background-color: #00cc6a;
  }
  
  .deleteBtn {
    background-color: #ff5252;
    color: #fff;
  }
  
  .deleteBtn:hover {
    background-color: #e64545;
  }
  