.workflowCard {
    padding: 16px;
    background-color: rgba(255,255,255,0.05);
    border-radius: 12px;
    border: 1px solid rgba(255,255,255,0.2);
    position: relative;
    z-index: 2;
  }
  
  .workflowName {
    font-size: 18px;
    margin-bottom: 8px;
    color: #fff;
  }
  